@import "tailwindcss";

@theme {
  --color-black: #001011;
  --color-white: #F2F1F1;
  --color-pink: #FD8EAD;
  --font-gothic: var(--font-special-gothic);
  --font-lexend: var(--font-lexend-deca);
  --font-bungee: var(--font-bungee);

}

body {
  @apply bg-white text-black font-gothic;
}
h1, h2, h3, h4, h5, h6 {
  @apply font-gothic;
}
p, span, a {
  @apply font-lexend;
}