@import "tailwindcss";


@layer components {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    max-width: 1380px !important;
  }

  @media (min-width: 768px) {
    .container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

/* Variables */
@theme {
  --color-tec-black: #001011;
  --color-tec-white: #F2F1F1;
  --color-tec-pink: #FD8EAD;
}

body {
  background-color: var(--color-tec-white);
  color: var(--color-tec-black);
  font-family: var(--font-special-gothic);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-special-gothic);
}

/* Typo scale */
.heading-1 {
  @apply text-4xl md:text-5xl;
}
.heading-2 {
  @apply text-2xl md:text-[28px];
}
.heading-3 {
  @apply text-xl md:text-2xl;
}
.heading-4 {
  @apply text-lg md:text-xl;
}
.text-stroke-1 {
    -webkit-text-stroke: 1px var(--color-tec-white);
}
.text-stroke-2 {
    -webkit-text-stroke: 2px var(--color-tec-white);
}
.text-stroke-black-1 {
    -webkit-text-stroke: 1px var(--color-tec-black);
}
.text-stroke-black-2 {
    -webkit-text-stroke: 2px var(--color-tec-black);
}


/* Utilities custom */
.font-lexend {
  font-family: var(--font-lexend-deca);
}

.font-bungee {
  font-family: var(--font-bungee);
}

.font-gothic {
  font-family: var(--font-special-gothic);
}

.desktop-navbar a, .footer-pages a {
  text-decoration: none;
  position: relative;
  overflow: hidden;
  z-index: 1;
  padding: 5px 0;
}

.desktop-navbar a::before, .footer-pages a::before,
.desktop-navbar a::after, .footer-pages a::after {
  content: "";
  position: absolute;
  background-color: var(--color-tec-white);
  width: 100%;
  height: 1px;
  transform: scaleX(0);
  transition: transform 0.4s;
}

.desktop-navbar a::before, .footer-pages a::before {
  top: 0;
  left: 0;
  transform-origin: left;
}

.desktop-navbar a::after, .footer-pages a::after {
  bottom: 0;
  right: 0;
  transform-origin: right;
}

.desktop-navbar a:hover::before,
.desktop-navbar a:hover::after,
.footer-pages a:hover::before,
.footer-pages a:hover::after {
  transform: scaleX(1);
}

